<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container">
        <h2 class="gap">Sua pergunta foi adicionada com sucesso</h1>
            <p>Titulo: <%- questionTitle %></p>
            <p>Descrição: <%- questionDescription %></p>
    </div>


</body>
<%- include('./partials/footer.ejs') %>