<%- include('./partials/header.ejs') %>
    <body>

        <%- include('./partials/navbar.ejs') %>

            <div class="container">
                <h1 class="gap"> <%- question.title %> </h1>
                <hr>
                <p><strong><%- question.description %></strong> </p>
            </div>

    </body>
<%- include('./partials/footer.ejs') %>